.tab-area{
    display: flex;
    gap: 10px;
    padding: 0 16px 16px;
}

.chat-filter{
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
}

.search-tab{
    flex: 1;
    position: relative;
}

.search-tab input{
    width: 100%;
    padding: 8px 32px 8px 12px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
    outline: none;
}

.search-tab span svg{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
}
