.navigation{
    width: 70px;
    height: 100vh;
    background-color: #6c63ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.nav-logo{
    width: 45px;
    height: 45px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 40px;
}

.nav-items{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 180px;
}

.nav-btn{
    width: 45px;
    height: 45px;
    background: none;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
}

.nav-btn svg{
    font-size: 35px;
}

.nav-btn.active{
    background-color: rgba(255, 255, 255, 0.2);
}
