.left-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    flex-shrink: 0;
}

.left-header-title{
    font-size: 20px;
    font-weight: 600;
}

.left-header-icons{
    display: flex;
    gap: 5px;
}

.left-header-icons span{
    font-size: 18px;
    font-weight: 800;
    margin-left: 12px;
    cursor: pointer;
}
