*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#root{
  height: 100vh;
  width: 100vw;
}

.app-layout{
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.left-panel{
  width: 410px;
  background-color: #f5f7fb;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e5e7eb;
  overflow: hidden;
}
