*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#root{
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.app-layout{
    display: flex;
    height: 100vh;
}

.left-panel{
    width: 410px;
    height: 100vh;
    background-color: #f5f7fb;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
