.left-panel{
    width: 30%;
    background-color: #f0f2f5;
}

.search-container{
    padding: 10px 24px;
}

.search-container input{
    width: 100%;
    padding: 10px 24px;
    border-radius: 24px;
    border: #e9edef;
    outline: none;
    background: #c5cad2;
    font-size: 14px;
}

.search-container input:focus{
    background: #fff;
    box-shadow: 0 0 0 2px #e9edef;
}